basePath: /
definitions:
  dto.LoginResponse:
    properties:
      access_token:
        type: string
      error:
        type: string
      refresh_token:
        type: string
    type: object
  dto.SignUpResponse:
    properties:
      access_token:
        type: string
      error:
        type: string
      refresh_token:
        type: string
      user:
        $ref: '#/definitions/dto.UserResponse'
    type: object
  dto.UserRequest:
    properties:
      answer:
        type: string
      email:
        type: string
      name:
        type: string
      password:
        type: string
      phone:
        type: string
      question:
        type: string
      surname:
        type: string
    type: object
  dto.UserResponse:
    properties:
      answer:
        type: string
      email:
        type: string
      error:
        type: string
      id:
        type: string
      name:
        type: string
      phone:
        type: string
      points:
        type: integer
      question:
        type: string
      role:
        type: string
      surname:
        type: string
    type: object
info:
  contact: {}
  description: API для пользователей Story Book
  title: Story Book API
  version: "1.0"
paths:
  /auth/login:
    post:
      consumes:
      - application/json
      parameters:
      - description: Данные входа
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.UserRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.LoginResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dto.LoginResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/dto.LoginResponse'
      summary: Вход пользователя
      tags:
      - auth
  /auth/refresh:
    post:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.LoginResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/dto.LoginResponse'
      security:
      - BearerAuth: []
      summary: Обновление токенов
      tags:
      - auth
  /auth/reset-password:
    post:
      parameters:
      - description: Ответ на секретный вопрос
        in: query
        name: answer
        required: true
        type: string
      responses:
        "204":
          description: No Content
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/dto.LoginResponse'
      security:
      - BearerAuth: []
      summary: Сброс пароля
      tags:
      - auth
  /auth/signup:
    post:
      consumes:
      - application/json
      parameters:
      - description: Данные регистрации
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.UserRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.SignUpResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dto.SignUpResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/dto.SignUpResponse'
      summary: Регистрация пользователя
      tags:
      - auth
  /users/{id}:
    get:
      parameters:
      - description: ID пользователя
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.UserResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dto.UserResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/dto.UserResponse'
      security:
      - BearerAuth: []
      summary: Получить пользователя по ID
      tags:
      - users
  /users/me:
    delete:
      responses:
        "204":
          description: No Content
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/dto.UserResponse'
      security:
      - BearerAuth: []
      summary: Удалить аккаунт
      tags:
      - users
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.UserResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/dto.UserResponse'
      security:
      - BearerAuth: []
      summary: Получить текущего пользователя
      tags:
      - users
    put:
      consumes:
      - application/json
      parameters:
      - description: Данные пользователя
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.UserRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.UserResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dto.UserResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/dto.UserResponse'
      security:
      - BearerAuth: []
      summary: Обновить профиль
      tags:
      - users
  /users/me/password:
    patch:
      consumes:
      - application/json
      parameters:
      - description: Новый пароль
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.UserRequest'
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dto.UserResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/dto.UserResponse'
      security:
      - BearerAuth: []
      summary: Изменить пароль
      tags:
      - users
schemes:
- http
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
